@model TestSystem.Models.Faculty
@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TestSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <table style="width: 1150px;border:0px;">
        <tr>
            <td colspan="2" style="background-color:#0000ff;">
                <h4 style="color: white;">Список студентов</h4>
            </td>
        </tr>
        <tr style="vertical-align: top;">
            <td style="background-color:#FFFFFF;width:180px;text-align:top;">
                <h4 class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="StudentList">Список студентов</a>
                </h4>
                <h4 class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="TeacherList">Список преподавателей</a>
                </h4>
                <h4 class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="FacultyList">Список факультетов</a>
                </h4>
                <h4 class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="SubjectList">Список предметов</a>
                </h4>
                <h4 class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Выход из системы</a>
                </h4>
            </td>
            <td style="background-color:#F0FFF0;height:800px;text-align:top;"> 
                   <table>
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                    <form method="POST"> 
                            <td><input type="hidden" name="FacultyId" value="@Model.FacultyId" /> </td>
                            <tr>
                                <td>Новое название факуьтета:</td>
                                <td><input type="text" name="FacultyName" value = "@Model.FacultyName" /></td>
                            </tr>
                            <tr><td><input type="submit" value="Сохранить" /> </td><td></td></tr>
                   </form>
                  </table> 
                    <form action="~/Admin/FacultyList">
                        <input type="submit" value="Отменить">
                    </form>
            </td>
        </tr>
        <tr></tr>
    </table>
</body>
</html> 