@model List<TestSystem.Models.Faculty>
@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TestSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <table style="width: 1150px;border:0px;">
        <tr>
            <td colspan="2" style="background-color:#0000ff;">
                <h4 style="color: white;">Список факультетов</h4>
            </td>
        </tr>
        <tr style="vertical-align: top;">
            <td style="background-color:#FFFFFF;width:180px;text-align:top;">
                <h4 class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="StudentList">Список студентов</a>
                </h4>
                <h4 class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="TeacherList">Список преподавателей</a>
                </h4>
                <h4 class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="FacultyList">Список факультетов</a>
                </h4>
                <h4 class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="SubjectList">Список предметов</a>
                </h4>
                <h4 class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Выход из системы</a>
                </h4>
            </td>
            <td style="background-color:#F0FFF0;height:800px;text-align:top;"> 
                <form action="~/Admin/AddFaculty">
                    <label for="FacultyName">Новый факультет: </label>
                    <input type="text" id="FacultyName" name="FacultyName" required>
                    <input type="submit" value="Добавить">
                </form>
            <table border="1">
            <tr><th> id </th><th>Название</th><th>Действия</th></tr>
            @foreach (var item in Model)
            {                     
                <tr><td>@item.FacultyId</td>
                    <td>@item.FacultyName</td>
                    <td><a href="~/Admin/DeleteFaculty/@item.FacultyId">Удалить</a>
                         @Html.ActionLink("Изменить", "ChangeFaculty", "Admin", 
                         new { id = item.FacultyId }, 
                        new { @class = "viewDialog", data_dialog_title = "Редактирование данных" })
                    </td>
                </tr>
            }
            </table>
            </td>
        </tr>
    </table>
</body>
</html> 