@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TestSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <table style="width: 1150px;border:0px;">
        <tr>
            <td colspan="2" style="background-color:#0000ff;">
                <h3 style="color: black;">Добро пожаловать, Администратор!</h3>
            </td>
        </tr>
        <tr style="vertical-align: top;">
            <td style="background-color:#FFFFFF;width:180px;text-align:top;">
                <h4 class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                </h4>
                <h4 class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="HomeEntry">Вход</a>
                </h4>
                 <h4 class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="HomeRegistration">Регистрация</a>
                </h4>
            </td>
            <td style="background-color:#F0FFF0;height:800px;text-align:top;"> 
                
            </td>
        </tr>
        <tr></tr>
    </table>
</body>
</html> 