@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TestSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <table style="width: 1150px;border:0px;">
        <tr>
            <td colspan="2" style="background-color:#00B8E9;">
                <h1 style="color: black;">Система тестирования</h1>
            </td>
        </tr>
        <tr style="vertical-align: top;">
            <td style="background-color:#B7E4F0;width:180px;text-align:top;">
                <h3 class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                </h3>
                <h3 class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="HomeEntry">Вход</a>
                </h3>
                 <h3 class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="HomeRegistration">Регистрация</a>
                </h3>
            </td>
            <td style="background-color:#FFFFFF;height:800px;text-align:top;"> 
                Данная система предназначена для проведения<br />
                тестирования студентов по любым предметам. Преподаватели <br />
                могут добавлять и изменять тесты,а также смотреть результаты <br />
                пройденных тестов.
            </td>
        </tr>
        <tr></tr>
    </table>
</body>
</html> 